@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap);

* {
    box-sizing: border-box;
}

body {
    user-select: none;
    -webkit-user-select: none;
    cursor: url(RobloxCursor.png), default;
    /* cursor: url(RobloxCursor_LinkSelect.png), pointer; */
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
    background: black;
    min-height: 100vh;
}

.title {
    background: linear-gradient(150deg, #00ffc4, #005aff);
    background-size: 200%;
    background-position: -100vw 0;
    background-repeat: no-repeat;
    -webkit-text-stroke: 0.5px white;
    font-size: 100px;
    width: max-content;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    animation: coolbg 5s alternate infinite;
}

@keyframes coolbg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}
